<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <%console.log(Heading)%>
            <li class="main-header-item"><a class="<%= active === 'view-product' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="main-header-item"><a class="<%= active === 'add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>